* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #60606e;
}

a {
  text-decoration: none;
  color: #60606e;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.row, .col-md-6, .col-md-8, .col-md-4 {
  padding: 0;
  margin: 0;
  /*for PixelPerfect*/
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
}

/*HEADER*/

.header {
  height: 500px;
  padding: 43px 0 0;
  background: url('../img/Photo-Filter.jpg') 50% 0% no-repeat;
  background-size: cover;
}

.header__nav {
  position: relative;
  padding: 0 15px;
}

.header__nav::after {
  content: '';
  display: table;
  clear: both;
}

.header__logo {
  float: left;
  display: inline-block;
}

.header__logo-text {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 15px;
  text-align: left;
  text-transform: uppercase;
}

.toggle-menu {
  width: 31px;
  height: 15px;
  float: right;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.toggle-menu__bar {
  display: block;
  height: 1px;
  background: #60606e;
  transition: width 0.5s ease;
}

/*.toggle__menu-bar + .toggle__menu-bar {
  padding-top: 6px;
}*/

.toggle-menu__bar:nth-child(2) {
  width: 15px;
  margin-top: 6px;
}

.toggle-menu__bar:nth-child(3) {
  width: 23px;
  margin-top: 6px;
}

.toggle-menu:hover .toggle-menu__bar {
  width: 100%;
}

.header__title {
  margin: 200px auto 0;
  font-size: 36px;
  font-weight: bold;
  line-height: 45px; /*25+9+9*/
  text-align: center;
  text-transform: uppercase;
}

.header__crumbs {
  margin-top: 19px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
}

.header__crumb {
  font-size: 13px;
}

/*MAIN CONTENT*/

.content__section {
  padding-top: 140px;
}

.info {
text-align: left;
padding: 0 15px;
}

.info--center {
text-align: center;
}

.info__title {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  line-height: 42px;
  text-transform: uppercase;
}

.info--center .info__title {
  padding-top: 9px;
  /*for PixelPerfect*/
}

.info__title-text {
  position: relative;
  display: inline-block;
}

.info__title-text::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
  width: 67px;
  height: 21px;
  background-color: #7beec7;
}

.info__subtitle {
  margin: 20px 0 0;
  font-size: 14px;
  font-weight: 800;
  line-height: 11px;
  text-transform: uppercase;
}

.info__text {
margin: 22px 0 0;
line-height:30px;
}

.info--center .info__text {
  margin-top: 13px;
  line-height: 24px;
}

/*BENEFITS*/

.benefits {
  list-style: none;
  padding: 0;
  margin: 66px 0 0;
  /*for PixelPerfect*/
}

.benefits__item {
  margin-top: 16px;
  /*for PixelPerfect*/
  padding: 15px;
}

.benefit__header {
  font-size: 0;
}

.benefit__icon {
  display: inline-block;
  position: relative;
  /*text-align: center;*/
  vertical-align: middle;
  width: 40px;
  height: 40px;
  background-color: #7beec7;
}

.benefit__icon i {
  font-size: 30px;
  color: #fff;
  /*center positioning*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 19px;
  /*for PixelPerfect*/
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.benefit__text {
    line-height: 30px;
    margin: 11px 0 0;
    /*for PixelPerfect*/
}

/*DREAM TEAM*/



/*GALLERY*/

.content__section:nth-of-type(3) {
  padding-top: 111px;
  /*for PixelPerfect*/
}

.gallery {
  list-style: none;
  margin-top: 82px;
  /*for PixelPerfect*/
}

.gallery__link {
  display: block;
}

.gallery__item {
  padding: 15px;
}

.gallery__image {
  width: 262px;
  height: 335px;
}

/*FOOTER*/

.footer {
  height: 330px;
  margin: 10px auto 0;
  /*for PixelPerfect*/
  padding-top: 23px;
  background-color: #7beec7;
}

.footer__section {
  height: 230px;
  padding: 0;
  /*margin-top: 35px;*/
  /*for PixelPerfect*/
}

.footer__title {
  margin: 15px 0 0;
  padding: 0 15px;
  /*for PixelPerfect*/
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  line-height: 48px;
  text-transform: uppercase;
}

.footer__button {
  padding: 15px;
  /*for PixelPerfect*/
}

.footer__button button {
  width: 100%;
  height: 49px;
  background-color: #ffffff;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #7beec7;
  text-transform: uppercase;
}

.footer__form {
  padding: 0 15px;
}

.form {
  display: block;
  margin: 25px 0 0;
  padding: 10px 26px 18px;
  background-color: #ffffff;
  overflow: visible;
}

.form__title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  text-transform: uppercase;
}

.form__info {
  margin: 6px 0 27px 0;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.subscribe {
  position: relative;
  left: -6px;
  /*for PixelPerfect*/
  width: 510px;
  height: 50px;
  background-color: #ffffff;
  border: solid 1px #999999;
}

.subscribe::after {
  content: '';
  display: table;
  clear: both;
}

.subscribe__input {
  float: left;
  margin-left: -6px;
  padding: 0 140px 0 25px;
  height: 100%;
  border: none;
  overflow: visible;
  outline: none;
}

.subscribe__input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #cdcdcd;
}

.subscribe__button {
  float: right;
  height: 100%;
  padding: 0;
  border: none;
  background-color: #7beec7;
}

.subscribe__button span {
  height: 11px;
  padding: 21px 47px 17px 48px;
  /*for PixelPerfect*/
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
